projet_4_segmentez_des_clients_d_un_site_e_commerce

.DS_Store
*.h5
projet_6_classer_des_images/code/input/*
projet_5_categoriser_automatiquement_questions /models/*
projet_5_categoriser_automatiquement_questions/data/*
